@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);

section .container p {
  text-align: justify;
}

img.profile {
  margin: 2%;
}

section#top  img.image.featured {
  clip: 100px 500px 0px 0px;
}

address { 
  text-align: left;
  font-weight: 400;
  font-size: 1.3em;
}
span.address-label {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  font-weight: lighter;
}

address div.street {
  text-align: center;
}

.row .4u article header h3 {
  font-weight: 600;
}

.row .4u article header h4 {
  font-weight: normal;
}

pre {
  font-family: Source Code Pro, monospace;
  text-align: left;
  margin-bottom: 30px;
  font-size: 0.8em;
  padding-left: 40px;
}

ol {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1em;
  font-style: italic;
  padding-left: 40px;
}

span.code {
  font-family: Source Code Pro, monospace;
}

img.projects {
  max-width: 33%;
}

img.projects.pull-left {
  margin-right: 20px;
}


img.projects.pull-right {
  margin-left: 20px;
}

.tools img {
  max-height: 80px;
  margin-left: 2%;
  margin-right: 2%;
  /*-webkit-filter: grayscale(80%);*/
  /*filter: grayscale(80%);*/
}

#portfolio img:hover {
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}

img.avatar80 {
  width: 80px;
  height: 80px;
}