!!!
%html
  %head 
    %title
      Jennifer Hamon - Ruby and JavaScript programmer

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    %link{:href => "assets/stylesheets/homepage.css", :type => "text/css", :rel => "stylesheet" }
  %body
    .container
      .spacer
      .hero
        .line
          I'm 
          %span.name Jennifer Hamon 
        .line
          and I build things with code.
          %span.cursor

      .columns
        .column
          %a{:href => "http://www.hamon.io/blog"}
            %h2 Blog
            %i.fa.fa-3x.fa-paragraph
        .column
          %a{:href => "http://www.hamon.io/portfolio.html"}
            %h2 Portfolio
            %i.fa.fa-3x.fa-code
        .column
          %a{:href => "http://www.github.com/jhamon" }
            %h2 Github
            %i.fa.fa-3x.fa-github
        .column
          %a{:href => "http://www.codepen.io/jhamon"}
            %h2 Codepen
            %i.fa.fa-3x.fa-codepen
        .column
          %a{:href => "http://www.hamon.io/jhamon_resume.pdf" }
            %h2 Resume
            %i.fa.fa-3x.fa-file

    .media
      %a{:href => "http://www.twitter.com/jenplusplus"}
        %i.fa.fa-twitter
      %a{:href => "https://www.linkedin.com/in/jenhamon"}
        %i.fa.fa-linkedin
      %a{:href=>"mailto:jen@hamon.io"}
        %i.fa.fa-at
